<a href="https://colab.research.google.com/github/ramon-santana-silva/miniprojeto01/blob/main/roofimoveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Mini Projeto Roof Imóveis </h1>
<h3>A venda de imóveis e suas características na região de King County</h3>>
Periodo de  Maio de 2014 à Maio de 2015.<BR>
<h1>CONTEXTO</h1>
Roof Imóveis é uma das maiores empresas do ramo imobiliário Brasileiro
e quer expandir sua área de atuação fazendo um investimento internacional,
com isso, ela contratou você para uma consultoria estratégica.
A empresa irá investir em imóveis no Condado de County, nos Estados
Unidos.
<h1>OBJETIVO</h1>
Construir um modelo que permite a "Roof Imóveis" identificar os 5 imóveis melhores para investir e quais o 5 imóveis que não deveria investir de forma alguma.

In [ ]:
#bibliotecas de manipulação de dados 
#!pip install pandas 
#!pip install numpy
#!pip install seaborn
#pip install matplotlib

In [1]:
#importação das bibliotecas
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns

O Dataset apresenta a venda de imóveis e suas características na região
de Maio de 2014 à Maio de 2015. Tem um total de 21613 registros com um total
de 21 atributos.

<h2>Extração/ Obtenção de dados</h2>
As bases de dados foram retiradas do site: https://www.kaggle.com/harlfoxem/housesalesprediction e https://geodacenter.github.io/data-and-lab/KingCounty-HouseSales2015/ e dataset extraidos do repositorio Github :'https://raw.githubusercontent.com/ramon-santana-silva/pythonCaseDNC/main/kc_house_data.csv' e 'https://raw.githubusercontent.com/ramon-santana-silva/pythonCaseDNC/main/Zipcodes_for_King_County_and_Surrounding_Area_(Shorelines)___zipcode_shore_area.csv'

In [2]:
#extraindo dataframe
DATA_URL ='https://raw.githubusercontent.com/ramon-santana-silva/pythonCaseDNC/main/kc_house_data.csv'     
#convertendo objeto para data parse_dates
roof_df= pd.read_csv(DATA_URL,sep=',',parse_dates=["date"])
roof_df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

<h1>Informação das colunas do dataframe roof_df</h1>
                             

*   id - Identiﬁcador único do imóvel 
*   view - Grau de quão belo é a vista do imóvel (0 a 4)
*   date - Data da VendaconditionCondição da casa (1 a 5)
*   price - Preço de venda
*   grade - Classiﬁcação por qualidade de material utilizado na
construção
*   bedrooms - Nº de Quartos
*   bathrooms - Nº de Banheiros 
*   sqft_above - Área em acima do solo em ft²
*   sqft_liv - Tamanho de área habitável em ft²sqft_basmtÁrea em abaixo do solo em ft²
*   sqft_lot - Tamanho do terreno em ft²
*   yr_built - Ano de construção
*   ﬂoors - Número de andares
*   yr_renov - Ano de restauração, caso o contrário, 0.
*   zipcode - Zip Code 5 - Similar ao CEP
*   waterfront - Indicativo se o imóvel é a beira-mar
*   lat - Latitude
*   long - Longitude
*   squft_liv15 - Média da área habitável dos 15 imóveis mais próximos,
em ft²
*   squft_lot15 - Média da área do lote dos 15 imóveis mais próximos,
em ft²

In [3]:
#extraindo dataframe zipcode_df
DATA_URL2='https://raw.githubusercontent.com/ramon-santana-silva/pythonCaseDNC/main/Zipcodes_for_King_County_and_Surrounding_Area_(Shorelines)___zipcode_shore_area.csv'
zipcode_df=pd.read_csv(DATA_URL2 , sep=",", encoding='UTF-8')

<h1>Informação das colunas do dataframe zipcode_df</h1>

*  OBJECTID -	Código ID
*  zipcode - Zip Code 5 - Similar ao CEP
*  COUNTY - Código do municipio
*  COUNTY	County code
*  ZIP_TYPE -	tipo de zipcode: padrão ou caixa postal
*  Shape_Leng -	comprimento poligonal
*  Shape_Area -	aréa poligonal

<h2>Limpeza dos Dataframes roof_df e zipcode_df

In [4]:
#zipcode_df sendo reduzido atraves da criação de novo dataframe somente com o municipio de King County alvo do projeto
zipKingCounty_df= zipcode_df[(zipcode_df.COUNTY == 33)]
zipKingCounty_df

,OBJECTID,ZIP,ZIPCODE,COUNTY,ZIP_TYPE,COUNTY_NAME,PREFERRED_CITY,Shape_Length,Shape_Area
0,1,98001,98001,33,Standard,King County,AUBURN,148134.771476,5.261214e+08
1,2,98002,98002,33,Standard,King County,AUBURN,105168.476823,2.044452e+08
2,3,98003,98003,33,Standard,King County,FEDERAL WAY,121645.069928,3.169812e+08
3,4,98004,98004,33,Standard,King County,BELLEVUE,108801.063326,2.014512e+08
4,5,98005,98005,33,Standard,King County,BELLEVUE,116930.354131,2.112733e+08
...,...,...,...,...,...,...,...,...,...
100,101,98199,98199,33,Standard,King County,SEATTLE,56408.722420,1.132192e+08
108,109,98224,98224,33,PO Box,King County,BARING,187335.039773,1.720745e+09
118,119,98288,98288,33,PO Box,King County,SKYKOMISH,484891.351634,8.749464e+09
147,148,98354,98354,33,Standard,King County,MILTON,25310.379574,1.500487e+07
181,182,98422,98422,33,Standard,King County,TACOMA,18681.516961,1.593000e+06

In [5]:
#identificando valores únicos do dataframe zipKingCounty_df
zipKingCounty_df.nunique()

OBJECTID          87
ZIP               87
ZIPCODE           87
COUNTY             1
ZIP_TYPE           2
COUNTY_NAME        1
PREFERRED_CITY    33
Shape_Length      87
Shape_Area        87
dtype: int64

In [6]:
# Verificando o cabeçalho
roof_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
# Verificando informações do dataset
roof_df.info()

In [ ]:
zipcode_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OBJECTID        209 non-null    int64
 1   ZIP             209 non-null    int64
 2   ZIPCODE         209 non-null    int64
 3   COUNTY          209 non-null    int64
 4   ZIP_TYPE        209 non-null    object
 5   COUNTY_NAME     209 non-null    object
 6   PREFERRED_CITY  209 non-null    object
 7   Shape_Length    209 non-null    float64
 8   Shape_Area      209 non-null    float64
dtypes: float64(2), int64(4), object(3)
memory usage: 14.8+ KB

In [ ]:
# Verificando quantos dados nulos há
roof_df.isnull().sum()

In [ ]:
#verificando quantos dados nulos há
zipcode_df.isnull().sum()

In [10]:
df=pd.merge(roof_df, zipcode_df, left_on='zipcode', right_on='ZIPCODE', how='left').drop('ZIPCODE',axis=1).drop('COUNTY',axis=1).drop('ZIP_TYPE',axis=1).drop('COUNTY_NAME',axis=1)  
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,zipcode,lat,long,sqft_living15,sqft_lot15,OBJECTID,ZIP,PREFERRED_CITY,Shape_Length,Shape_Area
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,98178,47.5112,-122.257,1340,5650,97,98178,SEATTLE,67151.963868,1.353411e+08
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,98125,47.7210,-122.319,1690,7639,81,98125,SEATTLE,66923.859716,1.496818e+08
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,98028,47.7379,-122.233,2720,8062,24,98028,KENMORE,75146.222022,1.732332e+08
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,98136,47.5208,-122.393,1360,5000,85,98136,SEATTLE,52855.048472,6.318620e+07
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,98074,47.6168,-122.045,1800,7503,56,98074,SAMMAMISH,115554.667658,3.277498e+08

In [ ]:
#identificando valores únicos do dataframe df
df.nunique()

In [ ]:
#removendo coluna zip pois no zipcode tem as mesmas informações
df.drop('ZIP', axis=1, inplace=True)

In [17]:
#removendo coluna id
df.drop('id', axis=1, inplace=True)

In [ ]:
#funções para ajustar data
df['month']=df['date'].apply(lambda date:date.month)
df['year']= df['date'].apply(lambda date:date.year)
sns.histplot(x='year', y='price', data=df);

In [18]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
price,23309.0,5.364409e+05,3.611988e+05,75000.000000,3.225000e+05,4.500000e+05,6.390000e+05,7.700000e+06
bedrooms,23309.0,3.375306e+00,9.199285e-01,0.000000,3.000000e+00,3.000000e+00,4.000000e+00,3.300000e+01
bathrooms,23309.0,2.121713e+00,7.642047e-01,0.000000,1.750000e+00,2.250000e+00,2.500000e+00,8.000000e+00
sqft_living,23309.0,2.094036e+03,9.186376e+02,290.000000,1.440000e+03,1.930000e+03,2.570000e+03,1.354000e+04
sqft_lot,23309.0,1.661673e+04,4.535101e+04,520.000000,5.137000e+03,7.760000e+03,1.111900e+04,1.651359e+06
floors,23309.0,1.494745e+00,5.367723e-01,1.000000,1.000000e+00,1.500000e+00,2.000000e+00,3.500000e+00
waterfront,23309.0,7.035909e-03,8.358651e-02,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
view,23309.0,2.360033e-01,7.698170e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
condition,23309.0,3.406195e+00,6.470400e-01,1.000000,3.000000e+00,3.000000e+00,4.000000e+00,5.000000e+00
grade,23309.0,7.672487e+00,1.176317e+00,1.000000,7.000000e+00,7.000000e+00,8.000000e+00,1.300000e+01
sqft_above,23309.0,1.806769e+03,8.319492e+02,290.000000,1.200000e+03,1.580000e+03,2.240000e+03,9.410000e+03
sqft_basement,23309.0,2.872665e+02,4.414959e+02,0.000000,0.000000e+00,0.000000e+00,5.500000e+02,4.820000e+03
yr_built,23309.0,1.971675e+03,2.897259e+01,1900.000000,1.953000e+03,1.976000e+03,1.997000e+03,2.015000e+03
yr_renovated,23309.0,8.381934e+01,4.003321e+02,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,2.015000e+03
zipcode,23309.0,9.807756e+04,5.350055e+01,98001.000000,9.803100e+04,9.807200e+04,9.811700e+04,9.819900e+04
lat,23309.0,4.756155e+01,1.473673e-01,47.155900,4.746460e+01,4.757670e+01,4.768600e+01,4.777760e+01
long,23309.0,-1.222082e+02,1.415573e-01,-122.519000,-1.223250e+02,-1.222180e+02,-1.221170e+02,-1.213150e+02
sqft_living15,23309.0,2.003249e+03,6.859539e+02,399.000000,1.500000e+03,1.860000e+03,2.390000e+03,6.210000e+03
sqft_lot15,23309.0,1.398730e+04,3.023756e+04,651.000000,5.200000e+03,7.740000e+03,1.035000e+04,8.712000e+05
OBJECTID,23309.0,5.166678e+01,2.869083e+01,1.000000,2.700000e+01,5.400000e+01,7.600000e+01,1.010000e+02
Shape_Length,23309.0,1.273515e+05,1.089613e+05,2710.689228,7.201764e+04,9.470006e+04,1.343800e+05,7.346016e+05
Shape_Area,23309.0,5.913370e+08,1.424225e+09,150283.790725,1.353411e+08,2.044452e+08,4.621636e+08,1.136144e+10
month,23309.0,6.576044e+00,3.120489e+00,1.000000,4.000000e+00,6.000000e+00,9.000000e+00,1.200000e+01
year,23309.0,2.014323e+03,4.676846e-01,2014.000000,2.014000e+03,2.014000e+03,2.015000e+03,2.015000e+03

In [ ]:
'''roof_df[:12]
#renomeando colunas
roof_df= roof_df.rename(columns={'Identificador único do imóvel':'Id Imóvel',
 'date':'Data da Venda','price':'Preço','bedrooms':'Nº de Quartos','bathrooms':'Nº de Banheiros','sqft_living':'Área hab. em ft²','sqft_lot':'Terreno em ft²','floors':'Nº de andares','waterfront':'Beira-mar','view':'vista do imóvel','condition':'Condição','grade':'Classificação/Qualidade Material','sqft_above':'Área acima do solo em ft²','sqft_basement':'Área em baixo do solo em ft²','yr_built':'Ano de construção','yr_renovated':'Ano de restauração','zipcode':'ZIP Code 5','lat':'latitude','long':'Longitude','sqft_living15':'Média da área Hab. dos 15 imóveis + proximos em ft²','sqft_lot15':'Média da área do lote dos 15 imóveis + próximos em ft²'})'''

In [ ]:
#df.groupby(['Animal']).mean()Max Speed
#df.sort_values(by=['col1'])
'''roof_df.groupby(['Preço']).max()
df_max_roof=roof_df.groupby(['Preço']).max()
df_max_roof.sort_values(by=['Preço'],ascending=False)'''
df.sort_values('price',ascending=False).head(5)

In [ ]:
#encontrar a cidade do imovel