<a href="https://colab.research.google.com/github/ramon-santana-silva/miniprojeto01/blob/main/roofimoveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Mini Projeto Roof Imóveis </h1>
<h3>A venda de imóveis e suas características na região de King County</h3>>
Periodo de  Maio de 2014 à Maio de 2015.

In [ ]:
#bibliotecas de manipulação de dados 
#!pip install pandas 
#!pip install numpy
#!pip install seaborn
#pip install matplotlib

In [1]:
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns

O Dataset apresenta a venda de imóveis e suas características na região
de Maio de 2014 à Maio de 2015. Tem um total de 21613 registros com um total
de 21 atributos.

<h2>Extração/ Obtenção de dados</h2>

In [ ]:
#extraindo dataframe
DATA_URL ='https://raw.githubusercontent.com/ramon-santana-silva/pythonCaseDNC/main/kc_house_data.csv'     
#convertendo objeto para data parse_dates
roof_df= pd.read_csv(DATA_URL,sep=',',parse_dates=["date"])
roof_df

<h1>Informação das colunas </h1>
                             

*   id - Identiﬁcador único do imóvel 
*   view - Grau de quão belo é a vista do imóvel (0 a 4)
*   date - Data da VendaconditionCondição da casa (1 a 5)
*   price - Preço de venda
*   grade - Classiﬁcação por qualidade de material utilizado na
construção
*   bedrooms - Nº de Quartos
*   bathrooms - Nº de Banheiros 
*   sqft_above - Área em acima do solo em ft²
*   sqft_liv - Tamanho de área habitável em ft²sqft_basmtÁrea em abaixo do solo em ft²
*   sqft_lot - Tamanho do terreno em ft²
*   yr_built - Ano de construção
*   ﬂoors - Número de andares
*   yr_renov - Ano de restauração, caso o contrário, 0.
*   zipcode - Zip Code 5 - Similar ao CEP
*   waterfront - Indicativo se o imóvel é a beira-mar
*   lat - Latitude
*   long - Longitude
*   squft_liv15 - Média da área habitável dos 15 imóveis mais próximos,
em ft²
*   squft_lot15 - Média da área do lote dos 15 imóveis mais próximos,
em ft²

In [19]:
#extraindo dataframe zipcode_df
DATA_URL2='https://raw.githubusercontent.com/ramon-santana-silva/pythonCaseDNC/main/Zipcodes_for_King_County_and_Surrounding_Area_(Shorelines)___zipcode_shore_area.csv'
zipcode_df=pd.read_csv(DATA_URL2 , sep=",", encoding='UTF-8')

,OBJECTID,ZIP,ZIPCODE,COUNTY,ZIP_TYPE,COUNTY_NAME,PREFERRED_CITY,Shape_Length,Shape_Area
0,1,98001,98001,33,Standard,King County,AUBURN,148134.771476,5.261214e+08
1,2,98002,98002,33,Standard,King County,AUBURN,105168.476823,2.044452e+08
2,3,98003,98003,33,Standard,King County,FEDERAL WAY,121645.069928,3.169812e+08
3,4,98004,98004,33,Standard,King County,BELLEVUE,108801.063326,2.014512e+08
4,5,98005,98005,33,Standard,King County,BELLEVUE,116930.354131,2.112733e+08
...,...,...,...,...,...,...,...,...,...
100,101,98199,98199,33,Standard,King County,SEATTLE,56408.722420,1.132192e+08
108,109,98224,98224,33,PO Box,King County,BARING,187335.039773,1.720745e+09
118,119,98288,98288,33,PO Box,King County,SKYKOMISH,484891.351634,8.749464e+09
147,148,98354,98354,33,Standard,King County,MILTON,25310.379574,1.500487e+07
181,182,98422,98422,33,Standard,King County,TACOMA,18681.516961,1.593000e+06

<h2>Limpeza dos Dataframes roof_df e zipcode_df

In [ ]:
#zipcode_df sendo reduzido atraves da criação de novo dataframe somente com o municipio de King County alvo do projeto
zipKingCounty_df= zipcode_df[(zipcode_df.COUNTY == 33)]
zipKingCounty_df

In [21]:
#identificando valores únicos do dataframe zipKingCounty_df
zipKingCounty_df.nunique()

OBJECTID          87
ZIP               87
ZIPCODE           87
COUNTY             1
ZIP_TYPE           2
COUNTY_NAME        1
PREFERRED_CITY    33
Shape_Length      87
Shape_Area        87
dtype: int64

In [ ]:
# Verificando o cabeçalho
roof_df.head()

In [ ]:
# Verificando informações do dataset
roof_df.info()

In [16]:
zipcode_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OBJECTID        209 non-null    int64
 1   ZIP             209 non-null    int64
 2   ZIPCODE         209 non-null    int64
 3   COUNTY          209 non-null    int64
 4   ZIP_TYPE        209 non-null    object
 5   COUNTY_NAME     209 non-null    object
 6   PREFERRED_CITY  209 non-null    object
 7   Shape_Length    209 non-null    float64
 8   Shape_Area      209 non-null    float64
dtypes: float64(2), int64(4), object(3)
memory usage: 14.8+ KB

In [ ]:
# Verificando quantos dados nulos há
roof_df.isnull().sum()

In [ ]:
#verificando quantos dados nulos há
zipcode_df.isnull().sum()

In [ ]:
df=pd.merge(roof_df, zipcode_df, left_on='zipcode', right_on='ZIPCODE', how='left').drop('ZIPCODE', axis=1)
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_living15,sqft_lot15,OBJECTID,ZIP,COUNTY,ZIP_TYPE,COUNTY_NAME,PREFERRED_CITY,Shape_Length,Shape_Area
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1340,5650,97,98178,33,Standard,King County,SEATTLE,67151.963868,1.353411e+08
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,1690,7639,81,98125,33,Standard,King County,SEATTLE,66923.859716,1.496818e+08
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,2720,8062,24,98028,33,Standard,King County,KENMORE,75146.222022,1.732332e+08
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1360,5000,85,98136,33,Standard,King County,SEATTLE,52855.048472,6.318620e+07
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1800,7503,56,98074,33,Standard,King County,SAMMAMISH,115554.667658,3.277498e+08

In [ ]:
#identificando valores únicos do dataframe df
df.nunique()

id                21436
date                372
price              4028
bedrooms             13
bathrooms            30
sqft_living        1038
sqft_lot           9782
floors                6
waterfront            2
view                  5
condition             5
grade                12
sqft_above          946
sqft_basement       306
yr_built            116
yr_renovated         70
zipcode              70
lat                5034
long                752
sqft_living15       777
sqft_lot15         8689
OBJECTID             77
ZIP                  70
COUNTY                3
ZIP_TYPE              1
COUNTY_NAME           3
PREFERRED_CITY       25
Shape_Length         77
Shape_Area           77
dtype: int64

In [ ]:
#removendo coluna zip pois no zipcode tem as mesmas informações
df.drop('ZIP', axis=1, inplace=True)

In [ ]:
OBJECTID COUNTY	ZIP_TYPE

In [ ]:
#funções para ajustar data
df['month']=df['date'].apply(lambda date:date.month)
df['year']= df['date'].apply(lambda date:date.year)
sns.boxplot(x='year', y='price', data=df);

In [ ]:
'''roof_df[:12]
#renomeando colunas
roof_df= roof_df.rename(columns={'Identificador único do imóvel':'Id Imóvel',
 'date':'Data da Venda','price':'Preço','bedrooms':'Nº de Quartos','bathrooms':'Nº de Banheiros','sqft_living':'Área hab. em ft²','sqft_lot':'Terreno em ft²','floors':'Nº de andares','waterfront':'Beira-mar','view':'vista do imóvel','condition':'Condição','grade':'Classificação/Qualidade Material','sqft_above':'Área acima do solo em ft²','sqft_basement':'Área em baixo do solo em ft²','yr_built':'Ano de construção','yr_renovated':'Ano de restauração','zipcode':'ZIP Code 5','lat':'latitude','long':'Longitude','sqft_living15':'Média da área Hab. dos 15 imóveis + proximos em ft²','sqft_lot15':'Média da área do lote dos 15 imóveis + próximos em ft²'})'''

In [ ]:
#df.groupby(['Animal']).mean()Max Speed
#df.sort_values(by=['col1'])
'''roof_df.groupby(['Preço']).max()
df_max_roof=roof_df.groupby(['Preço']).max()
df_max_roof.sort_values(by=['Preço'],ascending=False)'''
df.sort_values('price',ascending=False).head(5)

In [ ]:
#encontrar a cidade do imovel