<a href="https://colab.research.google.com/github/ramon-santana-silva/minprojeto01/blob/ManipulacaoDados/roofimoveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#bibliotecas de manipulação de dados 
#!pip install pandas 
#!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

#  a venda de imóveis e suas características na região de King County
Periodo de  Maio de 2014 à Maio de 2015.

In [58]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [65]:
#extraindo dataframe
DATA_URL ='https://raw.githubusercontent.com/ramon-santana-silva/pythonCaseDNC/main/kc_house_data.csv'     
roof_df= pd.read_csv(DATA_URL,sep=',')
roof_df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [54]:
#configuração de padrão para graficos
# https://matplotlib.org/stable/tutorials/introductory/customizing.html
sns.set_theme(
    context='talk',
    style='ticks',
    font_scale=.8,
    palette='viridis',
    rc={
        'figure.figsize': (12,8),
        'axes.grid': True,
        'grid.alpha': .2,
        'axes.titlesize': 'x-large',
        'axes.titleweight': 'bold',
        'axes.titlepad': 20,
    }
)

In [ ]:
# Verificando o cabeçalho
roof_df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
# Verificando informações do dataset
roof_df.info()

In [ ]:
# Verificando quantos dados nulos há
roof_df.isnull().sum()

In [26]:
roof_df[:12]
#renomeando colunas
roof_df= roof_df.rename(columns={'Identificador único do imóvel':'Id Imóvel',
 'date':'Data da Venda','price':'Preço','bedrooms':'Nº de Quartos','bathrooms':'Nº de Banheiros','sqft_living':'Área hab. em ft²','sqft_lot':'Terreno em ft²','floors':'Nº de andares','waterfront':'Beira-mar','view':'vista do imóvel','condition':'Condição','grade':'Classificação/Qualidade Material','sqft_above':'Área acima do solo em ft²','sqft_basement':'Área em baixo do solo em ft²','yr_built':'Ano de construção','yr_renovated':'Ano de restauração','zipcode':'ZIP Code 5','lat':'latitude','long':'Longitude','sqft_living15':'Média da área Hab. dos 15 imóveis + proximos em ft²','sqft_lot15':'Média da área do lote dos 15 imóveis + próximos em ft²'})

In [52]:
#df.groupby(['Animal']).mean()Max Speed
#df.sort_values(by=['col1'])
roof_df.groupby(['Preço']).max()
df_max_roof=roof_df.groupby(['Preço']).max()
df_max_roof.sort_values(by=['Preço'],ascending=False)

,Id Imóvel,Data da Venda,Nº de Quartos,Nº de Banheiros,Área hab. em ft²,Terreno em ft²,Nº de andares,Beira-mar,vista do imóvel,Condição,Classificação/Qualidade Material,Área acima do solo em ft²,Área em baixo do solo em ft²,Ano de construção,Ano de restauração,ZIP Code 5,latitude,Longitude,Média da área dos 15 imóveis + proximos em ft²,Média da área do lote dos 15 imóveis + próximos em ft²
Preço,,,,,,,,,,,,,,,,,,,,
7700000.0,6762700020,20141013T000000,6,8.00,12050,27600,2.5,0,3,4,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800
7062500.0,9808700762,20140611T000000,5,4.50,10040,37325,2.0,1,2,3,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
6885000.0,9208900037,20140919T000000,6,7.75,9890,31374,2.0,0,4,3,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
5570000.0,2470100110,20140804T000000,5,5.75,9200,35069,2.0,0,0,3,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345
5350000.0,8907500070,20150413T000000,5,5.00,8000,23985,2.0,0,4,3,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82000.0,3883800011,20141105T000000,3,1.00,860,10426,1.0,0,0,3,6,860,0,1954,0,98146,47.4987,-122.341,1140,11250
81000.0,3028200080,20150324T000000,2,1.00,730,9975,1.0,0,0,1,5,730,0,1943,0,98168,47.4808,-122.315,860,9000
80000.0,8658300340,20140523T000000,1,0.75,430,5050,1.0,0,0,2,4,430,0,1912,0,98014,47.6499,-121.909,1200,7500
78000.0,40000362,20140506T000000,2,1.00,780,16344,1.0,0,0,1,5,780,0,1942,0,98168,47.4739,-122.280,1700,10387
75000.0,3421079032,20150217T000000,1,0.00,670,43377,1.0,0,0,3,3,670,0,1966,0,98022,47.2638,-121.906,1160,42882